.validate-dashboard__block-wrapper
  div
    .validate-dashboard__block-row
      div
        .validate-dashboard__block
          .validate-dashboard__block-header
            div
              p Account Framework
            div
              span.success
                i.icon-font.icon-checked
          .validate-dashboard__block-body
            .validate-dashboard__box
              .validate-dashboard__box-body.is-2
                ul
                  li
                    a.green(href="#") 7
                    a(href="#") Accounts
                  li
                    a.green(href="#") 4
                    a(href="#") OUs
      div
        .validate-dashboard__block
          .validate-dashboard__block-header
            div
              p Identity & Access
            div
              span.success
                i.icon-font.icon-checked
          .validate-dashboard__block-body
            .validate-dashboard__box
              .validate-dashboard__box-body.is-2
                ul
                  li
                    a.gold(href="#") 8
                    a(href="#") IdPs
                  li
                    a.red(href="#") 653
                    a(href="#") Roles
  div
    .validate-dashboard__block
      .validate-dashboard__block-header
        div
          p Network
        div
          span.refresh
            i.icon-font.icon-refresh
      .validate-dashboard__block-body
        .validate-dashboard__box
          .validate-dashboard__box-header
            p Virtual Private Network
          .validate-dashboard__box-body.is-5
            ul
              li
                a.green(href="#") 60
                a(href="#") VPCs
              li
                a.orange(href="#") 169
                a(href="#") Subnets
              li
                a.orange(href="#") 114
                a(href="#") Route Tables
              li
                a.green(href="#") 201
                a(href="#")!= "DHCP <br>OptionSets"
              li
                span.refresh
                  i.icon-font.icon-refresh
                a(href="#")!= "VPC <br>Endpoints"
        .validate-dashboard__box
          .validate-dashboard__box-header
            p Transit Network
          .validate-dashboard__box-body.is-3
            ul
              li
                a.green(href="#") 60
                a(href="#")!= "Transit <br>Gateway"
              li
                a.orange(href="#") 169
                a(href="#")!= "TGW <br>RouteTables"
              li
                a.red(href="#") 114
                a(href="#")!= "TGW <br>Attachments"
        .validate-dashboard__box
          .validate-dashboard__box-header
            p Hybrid Network
          .validate-dashboard__box-body.is-3
            ul
              li
                a.green(href="#") 4
                a(href="#")!= "VPN <br>Connections"
              li
                span.refresh
                  i.icon-font.icon-refresh
                a(href="#")!= "DCX <br>Connections"
              li
                a.red(href="#") 1
                a(href="#") DGWs
        .validate-dashboard__box
          .validate-dashboard__box-header
            p Traffic Mirroring
          .validate-dashboard__box-body.is-2
            ul
              li
                a.green(href="#") 34
                a(href="#")!= "Mirror <br>Targets"
              li
                a.green(href="#") 12
                a(href="#")!= "Resource <br>Shares"
  div
    .validate-dashboard__block
      .validate-dashboard__block-header
        div
          p Security
        div
          span.refresh
            i.icon-font.icon-refresh
      .validate-dashboard__block-body
        .validate-dashboard__box
          .validate-dashboard__box-header
            p Compliance Mgmt.
          .validate-dashboard__box-body.is-3
            ul
              li
                a.green(href="#") 7
                a(href="#")!= "SecHub <br>Members"
              li
                a.orange(href="#") 9
                a(href="#")!= "SecHub <br>Standards"
              li
                a.orange(href="#") 6
                a(href="#")!= "SecHub <br>Integrations"
        .validate-dashboard__box.validate-dashboard__box--half
          .validate-dashboard__box-header
            p Threat Detection
          .validate-dashboard__box-body
            ul
              li
                a.green(href="#") 10
                a(href="#")!= "GuardDuty <br>Members"
        .validate-dashboard__box.validate-dashboard__box--half
          .validate-dashboard__box-header
            p Secrets Mgmt.
          .validate-dashboard__box-body
            ul
              li
                a.green(href="#") 4
                a(href="#")!= "Secrets"
        .validate-dashboard__box
          .validate-dashboard__box-header
            p Perimeter Protection
          .validate-dashboard__box-body.is-3
            ul
              li
                a.green(href="#") 4
                a(href="#")!= "FMS <br>Policies"
              li
                span.refresh
                  i.icon-font.icon-refresh
                a(href="#")!= "FMS <br>AppLists"
              li
                a.red(href="#") 1
                a(href="#")!= "FMS <br>Protocol List"
  div
    .validate-dashboard__block
      .validate-dashboard__block-header
        div
          p Infrastructure
        div
          span.decline
            i.icon-font.icon-close
      .validate-dashboard__block-body
        .validate-dashboard__box
          .validate-dashboard__box-header
            p Active Directory
          .validate-dashboard__box-body
            ul
              li
                span.refresh
                  i.icon-font.icon-refresh
                a(href="#") Directories
        .validate-dashboard__box
          .validate-dashboard__box-header
            p Private DNS
          .validate-dashboard__box-body.is-3
            ul
              li
                span.refresh
                  i.icon-font.icon-refresh
                a(href="#")!= "Inbound <br>Endpoints"
              li
                span.refresh
                  i.icon-font.icon-refresh
                a(href="#")!= "Outbound <br>Endpoints"
              li
                span.refresh
                  i.icon-font.icon-refresh
                a(href="#")!= "Resolver <br>Rules"
        .validate-dashboard__box
          .validate-dashboard__box-header
            p Image Management
          .validate-dashboard__box-body.is-4
            ul
              li
                a.green(href="#") 24
                a(href="#") Components
              li
                a.orange(href="#") 2
                a(href="#") Recipes
              li
                a.orange(href="#") 2
                a(href="#") Pipelines
              li
                a.green(href="#") 2
                a(href="#") Images
        .validate-dashboard__box
          .validate-dashboard__box-header
            p Patch Management
          .validate-dashboard__box-body.is-3
            ul
              li
                a.green(href="#") 4
                a(href="#") Baselines
              li
                span.refresh
                  i.icon-font.icon-refresh
                a(href="#") Patch Groups
              li
                a.red(href="#") 20
                a(href="#")!= "Maintenance <br>Windows"
        .validate-dashboard__box
          .validate-dashboard__box-header
            p Workspaces
          .validate-dashboard__box-body
            ul
              li
                span.refresh
                  i.icon-font.icon-refresh
                a(href="#") Workspaces
  div
    .validate-dashboard__block
      .validate-dashboard__block-header
        div
          p Governance
        div
          span.refresh
            i.icon-font.icon-refresh
      .validate-dashboard__block-body
        .validate-dashboard__box
          .validate-dashboard__box-header
            p Organization Policies
          .validate-dashboard__box-body.is-3
            ul
              li
                a.green(href="#") 60
                a(href="#") SCPs
              li
                a.orange(href="#") 169
                a(href="#") Tag Policies
              li
                a.orange(href="#") 114
                a(href="#") Backup Policies
        .validate-dashboard__box
          .validate-dashboard__box-header
            p Config
          .validate-dashboard__box-body.is-2
            ul
              li
                a.green(href="#") 128
                a(href="#") Recorders
              li
                a.orange(href="#") 990
                a(href="#") Rules
        .validate-dashboard__box
          .validate-dashboard__box-header
            p Workspaces
          .validate-dashboard__box-body
            ul
              li
                span.refresh
                  i.icon-font.icon-refresh
                a(href="#") Workspaces
        .validate-dashboard__box
          .validate-dashboard__box-header
            p Service Catalog
          .validate-dashboard__box-body.is-2
            ul
              li
                a.green(href="#") 2
                a(href="#") Portfolios
              li
                a.orange(href="#") 8
                a(href="#") Products
  div
    .validate-dashboard__block
      .validate-dashboard__block-header
        div
          p Monitoring
        div
          span.refresh
            i.icon-font.icon-refresh
      .validate-dashboard__block-body
        .validate-dashboard__box.validate-dashboard__box--half
          .validate-dashboard__box-header
            p CloudWatch
          .validate-dashboard__box-body
            ul
              li
                span.refresh
                  i.icon-font.icon-refresh
                a(href="#") Events
        .validate-dashboard__box.validate-dashboard__box--half
          .validate-dashboard__box-header
            p Centralized Logging
          .validate-dashboard__box-body
            ul
              li
                span.refresh
                  i.icon-font.icon-refresh
                a(href="#") S3 Buckets
        .validate-dashboard__box
          .validate-dashboard__box-header
            p Log Analytics
          .validate-dashboard__box-body.is-3
            ul
              li
                span.refresh
                  i.icon-font.icon-refresh
                a(href="#")!= "Firehose <br>Delivery Streams"
              li
                span.refresh
                  i.icon-font.icon-refresh
                a(href="#") ALBs
              li
                span.refresh
                  i.icon-font.icon-refresh
                a(href="#")!= "ALB <br>Target Groups"
  div
    .validate-dashboard__block
      .validate-dashboard__block-header
        div
          p Data Protection
        div
          span.decline
            i.icon-font.icon-close
      .validate-dashboard__block-body
        .validate-dashboard__box
          .validate-dashboard__box-header
            p Backup
          .validate-dashboard__box-body.is-5
            ul
              li
                a.green(href="#") 24
                a(href="#") Policies
              li
                a.orange(href="#") 2
                a(href="#") Vaults
              li
                a.orange(href="#") 2
                a(href="#") Plans
              li
                a.green(href="#") 2
                a(href="#") Backup Jobs
              li
                a.green(href="#") 2
                a(href="#") Copy Jobs
        .validate-dashboard__box
          .validate-dashboard__box-header
            p Certificate Mgmt.
          .validate-dashboard__box-body
            ul
              li
                span.refresh
                  i.icon-font.icon-refresh
                a(href="#") ACM Certificates
        .validate-dashboard__box
          .validate-dashboard__box-header
            p Key Management
          .validate-dashboard__box-body.is-2
            ul
              li
                a.gold(href="#") 4
                a(href="#") Key Stores
              li
                span.refresh
                  i.icon-font.icon-refresh
                a(href="#") Keys
